/* baskervville-regular - latin */
@font-face {
  font-family: "Baskervville";
  font-style: normal;
  font-weight: 400;
  src: local("Baskervville Regular"), local("Baskervville-Regular"),
    url("../fonts/baskervville-v1-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/baskervville-v1-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../fonts/poppins-v9-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v9-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("../fonts/poppins-v9-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v9-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../fonts/poppins-v9-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v9-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@keyframes image-overlay {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

:root {
  --font-first: "Poppins", sans-serif;
  --font-second: "Baskervville", serif;
  --color-first: rgb(255, 255, 255);
  --color-second: rgb(39, 39, 39);
  --color-red: rgb(252, 95, 69);
  --color-green: rgb(56, 198, 149);
  --color-violet: rgb(178, 124, 245);
  --color-orange: rgb(254, 185, 96);
  --color-gray: rgb(97, 97, 97);
  --color-light-gray: rgb(247, 247, 247);
  --color-title-gray: rgb(240, 240, 240);
  --color-dark-gray: rgb(63, 64, 73);
  --color-semi-light-gray: rgb(204, 204, 204);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--font-first);
}

.link {
  display: block;
  text-decoration: none;
}

.violet {
  color: var(--color-violet);
  fill: var(--color-violet);
}
.green {
  color: var(--color-green);
  fill: var(--color-green);
}
.orange {
  color: var(--color-orange);
  fill: var(--color-orange);
}
.red {
  color: var(--color-red);
  fill: var(--color-red);
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.icon {
  fill: red;
  width: 20px;
  height: 20px;
}
.bold {
  font-weight: 700;
}
/* border: 1px solid red; */

/*------------------------------ section ----------------------------------*/

.section-title {
  font-family: var(--font-second);
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
}
.section-number {
  font-family: var(--font-first);
  color: var(--color-title-gray);
  font-size: 274px;
  font-weight: 700;
  line-height: 200px;
  text-align: center;
  margin-bottom: 15px;
}
.section-description {
  margin-bottom: 40px;
}

/*------------------------------ header-hero ---------------------------------*/
.header-hero {
  background-color: var(--color-first);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.menu__list {
  display: flex;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item + .menu__item {
  margin-left: 20px;
}
.menu__item {
  position: relative;
}
.menu__item:hover.menu__item::after {
  width: 100%;
}
.menu__item::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--color-red);
  width: 0;

  height: 3px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s linear;
}
.menu__link {
  color: var(--color-second);
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
}
.logo {
  transition: all 0.2s linear;
}
.logo:hover {
  transform: scale(1.05);
}

/*-------------------------------- header -------------------------------------*/
.header {
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 175px 0;
  color: var(--color-second);
  text-align: center;
}

.header__title {
  font-family: var(--font-second);
  font-size: 60px;
  padding: 0 150px 0 150px;
  margin: 0 0 50px 0;
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 95, 69);
  border-radius: 50px;
  width: 180px;
  height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-first);
  margin: 0 auto 50px auto;
  transition: all 0.2s linear;
}
.header__button:hover {
  transform: scale(1.03);
  box-shadow: black 0 0 5px;
}
.header__button:active {
  transform: scale(1);
  box-shadow: black 0 0 0;
}
.header__description {
  display: flex;
  justify-content: center;
}
.header__description-list {
  flex: 0 0 20%;
}
.header__description-icon {
  width: 42px;
  height: 42px;
  margin-bottom: 35px;
}
.header__description-text {
  text-transform: uppercase;
}

/*---------------------------------- about --------------------------------------*/
.about {
  padding: 150px 0 150px 0;
  display: flex;
  position: relative;
}
.about-wrapper__overlay {
  background-image: url(../images/about.jpg);
  background-repeat: no-repeat;
  border: 5px solid var(--color-gray);
  width: 555px;
  height: auto;
}
.about__image {
  opacity: 1;
  transition: all 0.5s linear;
  animation-name: image-overlay;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.about-wrapper__description {
  background-color: var(--color-first);
  width: 652px;
  position: absolute;
  padding: 5px 80px 100px 5px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 10px 0px rgba(207, 205, 207, 1);
}
.about-wrapper__description > .section-number {
  text-align: left;
  margin-bottom: 10px;
}
.about-wrapper__description > .section-title {
  left: 200px;
  top: 80px;
}
.about-wrapper__description > .section__description {
  padding: 0 0 0 80px;
  font-size: 15px;
  color: var(--color-second);
  line-height: 24px;
}
.section__description + .section__description {
  margin-top: 20px;
}

/*---------------------------------- focus --------------------------------------*/
.focus {
  background-color: var(--color-light-gray);
  padding: 10px 0 150px 0;
  position: relative;
}
.section-description {
  text-align: center;
}
.focus__list {
  display: flex;
  justify-content: space-between;
}
.focus__item {
  text-align: center;
  padding: 60px 10px 60px 10px;
  background-color: var(--color-first);
  flex: 0 0 22%;
  box-shadow: 0px 0px 10px 0px rgba(207, 205, 207, 1);
}
.focus__item-image {
  width: 55px;
  height: 55px;
  margin-bottom: 20px;
}
.focus__item-title {
  text-transform: capitalize;
  margin-bottom: 20px;
}
.focus__item-description {
  line-height: 28px;
}
.focus__item:nth-child(1) {
  border-bottom: 3px solid var(--color-red);
}
.focus__item:nth-child(2) {
  border-bottom: 3px solid var(--color-green);
}
.focus__item:nth-child(3) {
  border-bottom: 3px solid var(--color-violet);
}
.focus__item:nth-child(4) {
  border-bottom: 3px solid var(--color-orange);
}

/*---------------------------------- video -----------------------------------*/
.video {
  background-color: brown;
}

/*-------------------------------- portfolio ----------------------------------*/
.portfolio {
  position: relative;
  padding: 10px 0 150px 0;
}
.potrfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.portfolio__item:nth-last-child(n + 4) {
  margin-bottom: 50px;
}
.portfolio__image-wrapper {
  max-width: 400px;
  height: auto;
  position: relative;
  transition: all 0.3s linear;
}
.portfolio__image-wrapper:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}
.portfolio__image-wrapper::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  background-color: var(--color-first);
  bottom: 0;
  transition: all 0.5s linear;
}
.portfolio__image-wrapper:hover::after {
  height: 50px;
}
.portfolio__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s linear;
}
.portfolio__image-wrapper:hover .portfolio__link {
  opacity: 1;
}
.portfolio__description {
  position: absolute;
  font-family: var(--font-second);
  font-size: 30px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%) rotateX(90deg);
  z-index: 2;
  transition: all 0.5s linear;
}
.portfolio__image-wrapper:hover .portfolio__description {
  transform: translateX(-50%) rotateX(0deg);
  bottom: 15px;
}

/*---------------------------------- team -----------------------------------*/
.team {
  position: relative;
  background-color: var(--color-light-gray);
  padding: 10px 0 150px 0;
}
.team__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.team__item {
  padding-bottom: 20px;
  background-color: var(--color-first);
  width: 270px;
  box-shadow: 0px 0px 10px 0px rgba(207, 205, 207, 1);
  position: relative;
}
.social-wrapper {
  opacity: 0;
  transition: all 0.3s linear;
}
.team__item:hover .social-wrapper {
  transform: translateY(-20px);
  opacity: 1;
}
.social-wrapper__list {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.social-wrapper__item + .social-wrapper__item {
  margin-left: 5px;
}
.social-wrapper__svg {
  width: 50px;
  height: 50px;
  /* fill: red; */
  transition: all 0.2s linear;
}
.social-wrapper__svg:hover {
  transform: scale(1.1);
  fill: yellow;
}
.team__image {
  margin: 3px auto 15px auto;
}
.team__title {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.team__description {
  font-size: 13px;
  color: var(--color-second);
  text-transform: capitalize;
}
.team__item:nth-child(1) {
  border-bottom: 3px solid var(--color-red);
}
.team__item:nth-child(2) {
  border-bottom: 3px solid var(--color-green);
}
.team__item:nth-child(3) {
  border-bottom: 3px solid var(--color-violet);
}
.team__item:nth-child(4) {
  border-bottom: 3px solid var(--color-orange);
}

/*------------------------------- statistics ----------------------------------*/
.statistics {
  background-image: linear-gradient(
      rgba(38, 39, 50, 0.85),
      rgba(38, 39, 50, 0.85)
    ),
    url(../images/background-section.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 145px 0 130px 0;
}
.statistics__list {
  display: flex;
  justify-content: space-between;
}
.statistics__item {
  flex: 0 0 22%;
  text-align: center;
}
.statistics__icon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}
.statistics__indicators {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-first);
  margin-bottom: 15px;
}
.statistics__description {
  font-size: 15px;
  color: var(--color-first);
  text-transform: capitalize;
  margin-bottom: 20px;
}
.statistics__radio {
  width: 20px;
  height: 20px;
}

/*---------------------------------- steps -----------------------------------*/
.steps {
  padding: 10px 0 150px 0;
  position: relative;
}
.steps__list {
  display: flex;
  flex-direction: column;
}
.steps > .section-description {
  margin-bottom: 100px;
}
.steps__item {
  background-repeat: no-repeat;
  width: 556px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}
.steps__item-one {
  background-image: url(../images/steps/step1.jpg);
}
.steps__item-two {
  background-image: url(../images/steps/step2.jpg);
}
.steps__item-three {
  background-image: url(../images/steps/step3.jpg);
}
.steps__item-four {
  background-image: url(../images/steps/step4.jpg);
}
.steps__wrapper {
  background-color: var(--color-first);
  box-shadow: 0px 0px 10px 0px rgba(207, 205, 207, 1);
  padding: 75px 60px 60px 125px;
  width: 460px;
  position: absolute;
}
.steps__title {
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.steps__description {
  font-size: 15px;
  line-height: 30px;
  position: relative;
}
.steps__number {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 70px;
  font-family: var(--font-second);
  color: var(--color-title-gray);
}
.steps__number::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: var(--color-title-gray);
  transform: rotate(-45deg) translate(10px, 20px);
  transform-origin: 0;
}
.steps__wrapper-one {
  top: -40px;
  left: -320px;
}
.steps__wrapper-two {
  top: -40px;
  right: -320px;
}
.steps__wrapper-three {
  top: -40px;
  left: -320px;
}
.steps__wrapper-four {
  top: -40px;
  right: -320px;
}

/*---------------------------------- pricing -----------------------------------*/
.pricing {
  padding: 10px 0 150px 0;
  position: relative;
  background-color: var(--color-light-gray);
}
.pricing__list {
  display: flex;
  justify-content: space-between;
}
.pricing__item {
  flex: 0 0 30%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0 20px 0;
  box-shadow: 0px 0px 10px 0px rgba(207, 205, 207, 1);
}
.pricing__item:hover {
  box-shadow: 0px 0px 20px 2px rgba(207, 205, 207, 1);
}
.pricing__item:nth-child(1) {
  border-top: 3px solid var(--color-green);
}
.pricing__item:nth-child(2) {
  border-top: 3px solid var(--color-red);
}
.pricing__item:nth-child(3) {
  border-top: 3px solid var(--color-violet);
}
.pticing__title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 15px;
}
.pricing__data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px auto;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.pracing__data-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  width: 92%;
  height: 92%;
  border-radius: 50%;
}
.pricing__data-green {
  background-color: var(--color-green);
}
.pricing__data-red {
  background-color: var(--color-red);
}
.pricing__data-violet {
  background-color: var(--color-violet);
}
.pracing__data-count {
  color: var(--color-first);
  font-size: 28px;
  font-weight: 700;
}
.pracig__data-description {
  color: var(--color-first);
  text-transform: capitalize;
}
.pricing__points {
  font-size: 15px;
}
.pricing__points + .pricing__points {
  margin-top: 10px;
}
.pricing__points:nth-last-child(-n + 2) {
  margin-bottom: 30px;
}
.pricing__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 50px;
  width: 180px;
  height: 50px;
  text-transform: uppercase;
  margin: 0 auto 50px auto;
  transition: all 0.3s linear;
}
.pricing__button-green {
  color: var(--color-first);
  background-color: var(--color-green);
}
.pricing__button-green:hover {
  transform: scale(1.03);
  box-shadow: black 0 0 5px;
}
.pricing__button-green:active {
  transform: scale(1);
  box-shadow: black 0 0 0;
}

.pricing__button-red {
  color: var(--color-first);
  background-color: var(--color-red);
}
.pricing__button-red:hover {
  transform: scale(1.03);
  box-shadow: black 0 0 5px;
}
.pricing__button-red:active {
  transform: scale(1);
  box-shadow: black 0 0 0;
}
.pricing__button-violet {
  color: var(--color-first);
  background-color: var(--color-violet);
}
.pricing__button-violet:hover {
  transform: scale(1.03);
  box-shadow: black 0 0 5px;
}
.pricing__button-violet:active {
  transform: scale(1);
  box-shadow: black 0 0 0;
}
.pricing__bg {
  background-image: url(../images/get-in/pricing-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--color-second);
  width: 800px;
  height: 600px;
  text-align: center;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  left: 5%;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
/*-------------------------------- testiomonials --------------------------------*/
.testiomonials {
  position: relative;
  background-color: var(--color-dark-gray);
  padding: 10px 0 50px 0;
  z-index: 5;
}
.testiomonials > .section-number {
  opacity: 0.05;
}
.testiomonials > .section-title {
  color: var(--color-first);
}
.testiomonials > .section-description {
  color: var(--color-first);
}

/*---------------------------------- SLIDER  -----------------------------------*/
/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}
/* Слайд */
.slick-slide {
  display: flex;
  justify-content: center;
}
/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  background: url("../images/icons/circle-left.svg") 0 0 / 100% no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s linear;
}
.slick-arrow.slick-prev:hover {
  opacity: 1;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  background: url("../images/icons/circle-right.svg") 0 0 / 100% no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s linear;
}
.slick-arrow.slick-next:hover {
  opacity: 1;
}
/* Стрелка не активная */

/* Точки (булиты) */
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li {
  list-style: none;
  margin: 0 10px;
}
/* Активная точка */
.slick-dots li.slick-active button {
  background-color: yellow;
}
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 30px;
  height: 5px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}
.slider {
  position: relative;
  padding: 0 50px 0 50px;
}

/*---------------------------------- select -----------------------------------*/
.select {
  position: relative;
  padding: 10px 0 150px 0;
}
.select__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: 70px;
}
.select__item {
  flex: 0 0 30%;
}
.select__icon {
  width: 50px;
  height: 50px;
  position: absolute;
}
.select__title {
  padding: 5px 0 0 60px;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.select__description {
  font-size: 15px;
  line-height: 20px;
}
.select__item:nth-last-child(n + 4) {
  margin-bottom: 50px;
}
.select__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-description {
  font-size: 25px;
}
.select__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 95, 69);
  border-radius: 50px;
  width: 180px;
  height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-first);
  margin-left: 20px;
  transition: all 0.2s linear;
}
.select__button:hover {
  transform: scale(1.03);
  box-shadow: black 0 0 5px;
}
.select__button:active {
  transform: scale(1);
  box-shadow: black 0 0 0;
}

/*---------------------------------- get-in -----------------------------------*/
.get-in {
  background-color: var(--color-semi-light-gray);
  padding: 10px 0 150px 0;
}
.get-in > .container {
  width: 750px;
}
.get-in .container > .section-number {
  opacity: 0.2;
}
.singup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}
.singup__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.singup__list-item {
  flex: 0 0 48%;
  margin-bottom: 25px;
}
.singup input {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 54px;
  padding-left: 20px;
  width: 100%;
}
.textarea {
  resize: none;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 18px;
  flex: 0 0 100%;
}
.singup input::placeholder {
  font-family: var(--font-first);
  font-weight: 700;
  font-size: 16px;
  color: var(--color-dark-gray);
  text-transform: capitalize;
  text-align: center;
}
.singup textarea::placeholder {
  font-family: var(--font-first);
  font-weight: 700;
  font-size: 16px;
  color: var(--color-dark-gray);
  text-transform: capitalize;
  text-align: center;
}
.button {
  display: block;
  margin: 0 auto;
  font-family: var(--font-first);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  color: #ffffff;
  background-color: rgb(254, 209, 54);
  width: 240px;
  height: 66px;
  cursor: pointer;
  outline: none;
  border: none;
  transition-timing-function: linear;
  transition-duration: 0.5s;
}
.button:hover {
  background-color: rgb(194, 161, 43);
}

.singup__list-item input[type="text"]:valid,
.singup__list-item input[type="email"]:valid,
.textarea:valid {
  outline-color: green;
}

.singup__list-item input[type="text"]:invalid,
.singup__list-item input[type="email"]:invalid,
.textarea:invalid {
  outline-color: red;
}

.singup__list-item input[type="text"],
.singup__list-item input[type="email"],
.textarea {
  font-size: 16px;
  font-family: var(--font-first);
  font-weight: 700;
}
form {
  position: relative;
  z-index: 2;
}
.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 95, 69);
  border-radius: 50px;
  width: 180px;
  height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-first);
  margin: 0 auto 50px auto;
  transition: all 0.2s linear;
}
.form__button:hover {
  background-color: rgb(252, 95, 69);
  transform: scale(1.03);
  box-shadow: black 0 0 5px;
}
.form__button:active {
  transform: scale(1);
  box-shadow: black 0 0 0;
}
.get-in__bg {
  background-image: url(../images/get-in/get-in-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--color-second);
  width: 500px;
  height: 600px;
  text-align: center;
  opacity: 0.5;
  position: absolute;
  z-index: 0;
  right: 300px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/*---------------------------------- footer -----------------------------------*/
.footer-wrapper {
  background-color: var(--color-dark-gray);
  padding: 0 0 30px 0;
}
.footer {
  background-color: var(--color-dark-gray);

  display: flex;
}
.social__icon {
  width: 32px;
  height: 32px;
  fill: var(--color-first);
  transition: all 0.3s linear;
}
.social__icon:hover {
  width: 32px;
  height: 32px;
  fill: var(--color-red);
}
.footer > .logotype {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px 0 65px 0;
  border-bottom: 3px solid var(--color-red);
}
.footer__list {
  display: flex;
  flex: 0 0 50%;
}
.footer__item {
  flex: 0 0 50%;
  padding: 65px 30px 65px 30px;
}
.footer__item:nth-child(1) {
  border-bottom: 3px solid var(--color-green);
}
.footer__item:nth-child(2) {
  border-bottom: 3px solid var(--color-violet);
}
.footer__social {
  flex: 0 0 25%;
  padding: 65px 0 65px 0;
  border-bottom: 3px solid var(--color-orange);
}
.social {
  display: flex;
}
.footer__title {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer__description {
  font-size: 16px;
  color: var(--color-light-gray);
  line-height: 24px;
}
.social__item + .social__item {
  margin-left: 10px;
}
/*---------------------------------- section -----------------------------------*/
/*---------------------------------- section -----------------------------------*/
/*---------------------------------- section -----------------------------------*/
